* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: #0f172a;
  color: #f8fafc;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  position: relative;
  z-index: 1000;
}

nav .logo {
  font-family: 'Jersey 10', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

/*  hover link kecuali button */
nav ul li a:not(.button) {
  position: relative;
  text-decoration: none;
  color: #f8fafc;
  padding: 6px 0;
}

nav ul li a:not(.button)::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

nav ul li a:not(.button):hover::after {
  width: 100%;
}

/* hover khusus button Login */
nav ul li a.button {
  text-decoration: none;
  background: transparent;
  color: #3b82f6;
  font-weight: 600;
  padding: 8px 18px;
  border: 2px solid #3b82f6;
  border-radius: 6px;
  transition: 0.3s ease;
}

nav ul li a.button:hover {
  background-color: #3b82f6;
  color: white;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 1001;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    gap: 15px;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 570px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #131d35;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 0;
    gap: 80px;
  }

  nav ul li:nth-child(1) {
    margin-top: 50px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  nav ul li a.button {
    width: 120px;
    text-align: center;
  }

  nav ul li a::after {
    display: none;
  }

  nav ul li a:not(.button) {
    display: block;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all 0.3s ease;
  }

  nav ul li a:not(.button):hover {
    background-color: #3b82f6;
    color: #fff;
    transform: scale(1.05);
  }
}
